//Colors
$yellow: #d8bbe6;
$orange: #eb8a55;
$red: #eb8a55;
$pink: #ef91bf;
$purple: #b461a2;
$darkpurple: #7758a3;
$lightblue: #b0d8f0;
$blue: #5bbfeb;
$darkblue: #bbd3e6;
$lightgreen: #9ce9d4;
$green: #65d6b6;
$darkgreen: #55b587;
$black: #000000;
$white: #ffffff;
$cannary: #f9c449;